@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700&display=swap');
@import "./index.scss";

body {

    background: linear-gradient(71deg,#0066ff,#7800ee,#00eea2,#1700ee,#ee007d);
    background-size: 360% 360%;
    animation: gradient-animation 30s ease infinite;
    @keyframes gradient-animation {
        0% {
            background-position: 0% 50%;
        }
    
        50% {
            background-position: 100% 50%;
        }
    
        100% {
            background-position: 0% 50%;
        }
    }
    ::-webkit-scrollbar {
        width: 12px;
        height: 12px;
        background-color: #0b0b0b;
        border-radius: 12px;

        @include mobile {
            display: none;
        }
    }

    ::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 12px;
    }

    ::-webkit-scrollbar-track {
        background-color: #1f1f1f;
        border-radius: 12px;
    }

    #root {
        background: transparent;
        width: 90vw;
        margin: auto;
        min-height: 100vh;

        h1 {

            font-weight: 500;
            font-size: 3rem;
            text-align: center;
            display: block;
            color: #f0f0f0d2;
            //mix-blend-mode:multiply;


            @include mobile {
                font-size: 1.5rem;
            }


        }

        .container {

            display: flex;
            border-radius: 12px;
            height: 80vh;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;


            @include mobile {
                flex-direction: column;
                gap: 20px;
                height: auto;
            }

            .left {

                background-color: #13111C;
                display: flex;
                width: 45vw;
                height: 100%;
                flex-direction: column;
                border-radius: 12px 0 0 12px;

                @include tablet {
                    width: 50%;
                    border-radius: 12px 0 0 12px;

                }

                @include mobile {
                    width: 90vw;
                    border-radius: 12px;
                }


                form {

                    background-color: transparent;
                    display: flex;
                    flex-direction: column;
                    width: 40vw;
                    margin: 30px;
                    padding: 20px;
                    justify-content: flex-start;
                    gap: 50px;
                    border-radius: 6px;
                    color: #d6d6d6e0;

                    @include tablet {
                        width: 90%;
                        border-radius: 10px;
                        margin: 20px auto;

                    }

                    @include mobile {
                        width: 90%;
                        margin: 15px auto;
                        border-radius: 12px;
                    }

                    .image-desc {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        input[type="text"] {
                            background-color: #222129;
                            color: #d1d1d1;
                            padding: 15px 10px;
                            font-size: 1rem;
                            outline: none;
                            border: 1px solid rgb(104, 104, 104);
                            border-radius: 4px;
                        }
                    }

                    .select-size {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        .radios {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;

                            input[type="radio"] {
                                margin-left: 20px;
                                margin-right: 5px;
                                cursor: pointer;
                                background-color: transparent;

                                &:first-of-type {
                                    margin-left: 0;
                                }

                                @include mobile {
                                    &:nth-of-type(2) {
                                        margin-left: 35px;
                                    }
                                }

                            }
                        }

                    }

                    button {

                        padding: 10px 0;
                        font-size: 1rem;
                        font-weight: bold;
                        cursor: pointer;
                        border-radius: 4px;
                        outline: none;
                        border: none;
                        background-color: #d1d1d1;

                        &:hover {
                            background-color: #b3b3b3;
                        }
                    }
                }

                .info {
                    width: 38vw;
                    margin: 20px auto;
                    background-color: transparent;
                    color: #d1d1d1;
                    overflow-y: scroll;
                    border-radius: 6px;

                    @include tablet {
                        width: 90%;
                        border-radius: 10px;
                        margin: 20px auto;

                    }

                    @include mobile {
                        display: none;
                        width: 90%;
                        margin: 15px auto;
                        border-radius: 12px;
                    }
                }

            }

            .right {

                background-color: rgba(173, 216, 230, 0.584);
                display: flex;
                width: 45vw;
                height: 100%;
                border-radius: 0 12px 12px 0;
                padding: 10px 0;

                @include tablet {
                    width: 50%;
                    border-radius: 0 12px 12px 0;

                }

                @include mobile {
                    width: 100%;
                    border-radius: 12px;
                    min-height: 50vh;
                }


                .loading {

                    display: block;
                    margin: auto;
                }

                .intro {

                    display: block;
                    margin: auto;
                }

                .error {

                    display: block;
                    margin: auto;
                }

                .image {
                    overflow: scroll;
                    display: flex;
                    height: 95%;
                    width: 95%;
                    margin: auto;
                    background-color: #f1f1f1;

                    img {

                        display: block;
                        margin: auto;
                    }
                }


            }
        }

        footer {

            height: 5vh;
            padding: 5px;
            color: #fff;

            @include mobile {
                height: 10vh;
            }

            p {
                margin-top: 5px;

                a {
                    color: #fff;
                }

                @include mobile {
                    margin-top: 10px;
                }
            }
        }
    }

}

